@media screen and (min-width: 1550px) and (max-width: 2500px) {
  .span {
    text-decoration: underline;
  }
  body {
    display: block;
    margin: 0;
  }
  .header {
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 30px;
  }
  .header1 {
    display: none;
  }
  .nav {
    height: 130px;
    width: 95%;
    background-color: rgb(71, 70, 70);
    backdrop-filter: blur(60px) saturation (20%);
    position: fixed;
    border-radius: 30px;
    z-index: 2;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .head {
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    width: 400px;
    padding-left: 40px;
    /* padding-right: 100px;
    margin-right: 220px; */
  }
  .head h1 {
    margin: 0;
    padding-top: 25px;
  }
  .menu1 {
    display: flex;
    flex-direction: row;
  }
  .home {
    margin-top: 35px;
    padding-left: 10px;
  }
  .home a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    padding-right: 35px;
  }
  .home a:hover {
    height: 5px;
    text-decoration: underline;
    transition: all 0.99s ease-in-out;
  }
  .home i {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .content {
    background-image: url(background.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 7800px;
  }
  .About {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    z-index: -1;
  }
  .para {
    width: 65%;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .parap {
    color: rgb(255, 255, 255);
    width: 82%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 120px;
    /* position: sticky; */
    padding-left: 140px;
    font-size: 35px;
    line-height: 2;
    white-space: wrap;
  }
  .parap span {
    opacity: 0;
  }
  @keyframes typing {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .typing-animation {
    animation: typing 1s 2 forwards;
  }
  .para span {
    font-size: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    z-index: 0;
  }
  .photo {
    margin: 80px;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 0;
    margin-left: 0;
    animation-name: photo;
    animation-duration: 1s;
  }
  @keyframes photo {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  /* .photo1 {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 300px;
  width: 300px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 0;
} */
  .photo img {
    height: 450px;
    width: 420px;
    padding-left: 15px;
    border-radius: 50%;
  }
  .icon1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-top: 70px;
    font-size: 70px;
  }
  .icon1 a {
    color: rgb(255, 255, 255);
  }
  .icon1 i {
    padding-right: 50px;
  }
  .education {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 20px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .education h1 {
    font-size: 120px;
    text-decoration: underline;
    padding-left: 350px;
    padding-bottom: 30px;
    z-index: -1;
  }
  .education p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 40px;
    width: 80%;
    padding-top: 10px;
  }

  .education h2 {
    font-size: 50px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  .education a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .education a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .skill-heading {
    color: rgb(255, 255, 255);
    font-size: 80px;
    padding-top: 10px;
    padding-right: 200px;
    text-decoration: underline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .tech-skills {
    color: rgb(255, 255, 255);
    padding-left: 300px;
    padding-top: 5px;
    font-size: 60px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .tech-skills h1 {
    padding-top: 0;
  }
  .tech-skills h2 {
    font-size: 60px;
  }
  .tech-skills h3 {
    font-size: 40px;
    text-decoration: underline;
    padding-left: 500px;
  }
  .tech-skills p {
    font-size: 40px;
    line-height: 1.5;
  }
  .soft-skills {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 5px;
    font-size: 60px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .soft-skills p {
    font-size: 40px;
    line-height: 1.5;
  }
  .certificate {
    color: rgb(255, 255, 255);
    padding-left: 600px;
    padding-top: 10px;
    font-size: 60px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .certificate h3 {
    text-decoration: underline;
  }
  .certifi {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .certifi a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 50px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .certifi a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .experience {
    display: flex;
    justify-content: center;
    margin-right: 400px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 80px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .experience h1 {
    text-decoration: underline;
  }
  .experience1 {
    color: rgb(255, 255, 255);
    padding-left: 200px;
  }
  .experience1 h1 {
    font-size: 80px;
    line-height: 1.5;
  }
  .experience1 p {
    font-size: 40px;
  }
  .experience1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 50px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .experience1 a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .projects {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-right: 400px;
    font-size: 80px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .projects h1 {
    text-decoration: underline;
  }
  .project {
    color: rgb(255, 255, 255);
    padding-left: 200px;
  }
  .project h2 {
    padding-bottom: 10px;
    font-size: 70px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project p {
    font-size: 40px;
    width: 85%;
    line-height: 1.5;
  }
  .lang-hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 80px;
    font-size: 60px;
    line-height: 1.5;
  }
  .lang-hobbies p {
    font-size: 45px;
  }
  .Details {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-right: 400px;
    font-size: 90px;
    text-decoration: underline;
  }
  .Add-cont {
    height: 300px;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    padding-left: 150px;
  }
  .Address {
    width: 30%;
    padding-left: 100px;
    line-height: 1.5;
  }
  .Address h1 {
    font-size: 70px;
  }
  .Address p {
    font-size: 50px;
  }
  .contact {
    padding-left: 200px;
    line-height: 1.5;
  }
  .contact h1 {
    font-size: 70px;
  }
  .contact p {
    font-size: 50px;
  }
  .icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 100px;
  }
  .icon a {
    color: rgb(255, 255, 255);
  }
  .icon i {
    padding-right: 50px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
  .span {
    text-decoration: underline;
  }
  body {
    display: block;
    margin: 0;
  }
  .header {
    padding-top: 40px;
    padding-left: 80px;
    border-radius: 30px;
  }
  .header1 {
    display: none;
  }
  .nav {
    height: 100px;
    width: 90%;
    background-color: rgb(71, 70, 70);
    backdrop-filter: blur(60px) saturation (20%);
    position: fixed;
    border-radius: 30px;
    z-index: 2;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .head {
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    width: 400px;
    padding-left: 40px;
  }
  .head h1 {
    margin: 0;
    padding-top: 25px;
  }
  .menu1 {
    display: flex;
    flex-direction: row;
  }
  .home {
    margin-top: 35px;
  }
  .home a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    padding-right: 35px;
  }
  .home a:hover {
    height: 5px;
    text-decoration: underline;
    transition: all 0.99s ease-in-out;
  }
  .home i {
    color: rgb(255, 255, 255);
  }
  .content {
    background-image: url(background.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
  }
  .About {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    z-index: -1;
  }
  .para {
    width: 60%;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .parap {
    color: rgb(255, 255, 255);
    width: 82%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 120px;
    /* position: sticky; */
    padding-left: 140px;
    font-size: 22px;
    line-height: 2;
    white-space: wrap;
  }
  .parap span {
    opacity: 0;
  }
  @keyframes typing {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .typing-animation {
    animation: typing 1s 2 forwards;
  }
  .para span {
    font-size: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    z-index: 0;
  }
  .photo {
    margin: 80px;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 0;
    margin-left: 0;
    animation-name: photo;
    animation-duration: 1s;
  }
  @keyframes photo {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  /* .photo1 {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 300px;
  width: 300px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 0;
} */
  .photo img {
    height: 340px;
    width: 320px;
    padding-left: 15px;
    border-radius: 50%;
  }
  .icon1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 45px;
    padding-top: 60px;
    font-size: 50px;
  }
  .icon1 a {
    color: rgb(255, 255, 255);
  }
  .icon1 i {
    padding-right: 50px;
  }
  .education {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .education h1 {
    font-size: 60px;
    text-decoration: underline;
    padding-left: 350px;
    padding-bottom: 30px;
    z-index: -1;
  }
  .education p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    width: 80%;
    padding-top: 15px;
  }

  .education h2 {
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  .education a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .education a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .skill-heading {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 50px;
    padding-right: 200px;
    text-decoration: underline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .tech-skills {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 5px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .tech-skills h1 {
    padding-top: 5px;
  }
  .tech-skills h2 {
    font-size: 25px;
  }
  .tech-skills h3 {
    padding-top: 5px;
    font-size: 40px;
    text-decoration: underline;
    padding-left: 500px;
  }
  .tech-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .soft-skills {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 8px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .soft-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .certificate {
    color: rgb(255, 255, 255);
    padding-left: 500px;
    padding-top: 10px;
    font-size: 45px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .certificate h3 {
    text-decoration: underline;
  }
  .certifi {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .certifi a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .certifi a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .experience {
    color: rgb(255, 255, 255);
    padding-left: 550px;
    padding-top: 20px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .experience h1 {
    text-decoration: underline;
  }
  .experience1 {
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 5px;
  }
  .experience1 h1 {
    font-size: 50px;
    line-height: 1.5;
  }
  .experience1 p {
    font-size: 25px;
  }
  .experience1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .experience1 a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .projects {
    color: rgb(255, 255, 255);
    padding-left: 600px;
    padding-top: 10px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .projects h1 {
    text-decoration: underline;
  }
  .project {
    color: rgb(255, 255, 255);
    padding-left: 200px;
  }
  .project h2 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project p {
    font-size: 25px;
    width: 85%;
    line-height: 1.5;
  }
  .interface {
    padding: 20px;
    padding-left: 400px;
    padding-top: 40px;
  }
  .interface a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 8px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .interface a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .lang-hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-left: 80px;
    font-size: 40px;
    line-height: 1.5;
  }
  .lang-hobbies p {
    font-size: 30px;
  }
  .Details {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 600px;
    font-size: 50px;
    text-decoration: underline;
  }
  .Add-cont {
    height: 300px;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 150px;
    font-size: 20px;
  }
  .Address {
    width: 30%;
    padding-left: 100px;
    line-height: 1.5;
  }
  .Address h1 {
    font-size: 40px;
  }
  .Address p {
    font-size: 25px;
  }
  .contact {
    padding-left: 200px;
    line-height: 1.5;
  }
  .contact h1 {
    font-size: 40px;
  }
  .contact p {
    font-size: 25px;
  }
  .icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 50px;
  }
  .icon a {
    color: rgb(255, 255, 255);
  }
  .icon i {
    padding-right: 50px;
  }
}
@media screen and (min-width: 550px) and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    display: flexbox;
  }
  .span {
    text-decoration: underline;
  }
  .header11 {
    height: 120px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    backdrop-filter: blur(60px) saturation (20%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .head {
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    padding-left: 60px;
    padding-top: 30px;
  }
  .header {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    right: 60px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: rgb(255, 255, 255);
  }

  #menuToggle input {
    display: block;
    width: 60px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    display: block;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -190px;
    padding: 50px;
    padding-top: 125px;
    display: none;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    visibility: visible;
  }
  .content {
    background-image: url(background.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
  }
  .About {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
  }
  .para {
    display: block;
  }
  .parap {
    color: rgb(255, 255, 255);
    width: 90%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 60px;
    padding-left: 40px;
    font-size: 22px;
    line-height: 2;
    white-space: wrap;
  }
  .parap span {
    font-size: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .photo {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .photo img {
    height: 340px;
    width: 320px;
    border-radius: 50%;
  }
  .icon1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 50px;
  }
  .icon1 a {
    color: rgb(255, 255, 255);
  }
  .icon1 i {
    padding-right: 50px;
  }
  .education {
    color: rgb(255, 255, 255);
    padding-left: 100px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .education h1 {
    font-size: 80px;
    text-decoration: underline;
    padding-left: 100px;
    padding-top: 50px;
  }
  .education p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    width: 80%;
    padding-top: 30px;
  }

  .education h2 {
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  .education a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .education a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .skill-heading {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 50px;
    text-decoration: underline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 50px;
  }
  .tech-skills {
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .tech-skills h2 {
    font-size: 25px;
  }
  .tech-skills h3 {
    padding-top: 10px;
    font-size: 40px;
    text-decoration: underline;
    padding-left: 500px;
  }
  .tech-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .soft-skills {
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .soft-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .certificate {
    color: rgb(255, 255, 255);
    padding-left: 120px;
    padding-top: 60px;
    font-size: 45px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .certificate h3 {
    text-decoration: underline;
  }
  .certifi {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .certifi a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .certifi a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .experience {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    /* padding-left: 400px; */
    padding-top: 30px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .experience h1 {
    text-decoration: underline;
  }
  .experience1 {
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-top: 30px;
  }
  .experience1 h1 {
    font-size: 50px;
    line-height: 1.5;
  }
  .experience1 p {
    font-size: 25px;
    padding-bottom: 30px;
  }
  .experience1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .experience1 a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .projects {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 60px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .projects h1 {
    text-decoration: underline;
  }
  .project {
    color: rgb(255, 255, 255);
    padding-left: 30px;
  }
  .project h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 35px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project p {
    font-size: 25px;
    width: 86%;
    padding-left: 20px;
    line-height: 1.5;
  }
  .lang-hobbies {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-left: 100px;
    font-size: 30px;
    line-height: 1.5;
  }
  .lang-hobbies p {
    font-size: 30px;
  }
  .Details {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    /* padding-left: 400px; */
    font-size: 50px;
    text-decoration: underline;
  }
  .Add-cont {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-left: 50px;
    font-size: 20px;
  }
  .Address {
    width: 60%;
    padding-left: 30px;
    line-height: 1.5;
  }
  .Address h1 {
    font-size: 40px;
  }
  .Address p {
    font-size: 25px;
  }
  .contact {
    padding-top: 10px;
    padding-left: 30px;
    line-height: 1.5;
  }
  .contact h1 {
    font-size: 40px;
  }
  .contact p {
    font-size: 25px;
  }
  .icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 50px;
  }
  .icon a {
    color: rgb(255, 255, 255);
  }
  .icon i {
    padding-right: 50px;
  }
}
/* 
Responsive
  web
  design
  is
  an
  approach
  to
  designing
  and
  coding
  a
  website
  that
  ensures
  it
  looks
  and
  functions
  correctly
  on
  a
  variety
  of
  devices
  and
  screen
  sizes,
including
  mobile
  devices.
  This
  includes
  using
  CSS
  media
  queries
  to
  adjust
  the
  layout,
font sizes,
and
  other
  styling
  properties
  to
  create
  a
  visually
  appealing
  and
  user-friendly
  experience
  on
  smaller
  screens.
  The
  goal
  is
  to
  provide
  an
  optimal
  viewing
  experience
  for
  the
  user,
regardless
  of
  the
  device
  they
  are
  using. */
@media screen and (max-width: 550px) {
  * {
    margin: 0;
    padding: 0;
    display: flexbox;
  }
  .span {
    text-decoration: underline;
  }
  .header11 {
    height: 120px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    backdrop-filter: blur(60px) saturation (20%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .head {
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 30px;
  }
  .header {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    right: 60px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: rgb(255, 255, 255);
  }

  #menuToggle input {
    display: block;
    width: 60px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    display: block;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -190px;
    padding: 50px;
    padding-top: 125px;
    display: none;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    visibility: visible;
  }
  .content {
    background-image: url(background.jpg);
    background-repeat: repeat;
    width: 640px;
    height: 100%;
  }
  .About {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
  }
  .para {
    display: block;
  }
  .parap {
    color: rgb(255, 255, 255);
    width: 90%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 60px;
    padding-left: 40px;
    font-size: 22px;
    line-height: 2;
    white-space: wrap;
  }
  .parap span {
    font-size: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .photo img {
    height: 340px;
    width: 320px;
    border-radius: 50%;
  }
  .icon1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 50px;
  }
  .icon1 a {
    color: rgb(255, 255, 255);
  }
  .icon1 i {
    padding-right: 50px;
  }
  .education {
    color: rgb(255, 255, 255);
    padding-left: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .education h1 {
    font-size: 80px;
    text-decoration: underline;
    padding-left: 80px;
    padding-top: 50px;
  }
  .education p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    width: 80%;
    padding-top: 30px;
  }

  .education h2 {
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  .education a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .education a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .skill-heading {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 50px;
    text-decoration: underline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 10px;
  }
  .tech-skills {
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .tech-skills h2 {
    font-size: 25px;
  }
  .tech-skills h3 {
    padding-top: 10px;
    font-size: 40px;
    text-decoration: underline;
    padding-left: 500px;
  }
  .tech-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .soft-skills {
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .soft-skills p {
    font-size: 20px;
    line-height: 1.5;
  }
  .certificate {
    color: rgb(255, 255, 255);
    padding-left: 120px;
    padding-top: 60px;
    font-size: 45px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .certificate h3 {
    text-decoration: underline;
  }
  .certifi {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  .certifi a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .certifi a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .experience {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .experience h1 {
    text-decoration: underline;
  }
  .experience1 {
    color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-top: 30px;
  }
  .experience1 h1 {
    font-size: 50px;
    line-height: 1.5;
  }
  .experience1 p {
    font-size: 25px;
    padding-bottom: 30px;
  }
  .experience1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .experience1 a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    transition-duration: 0.3s;
  }
  .projects {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-right: 40px;
    padding-top: 60px;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .projects h1 {
    text-decoration: underline;
  }
  .project {
    color: rgb(255, 255, 255);
    padding-left: 25px;
  }
  .project h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project p {
    font-size: 20px;
    width: 86%;
    padding-left: 20px;
    line-height: 1.5;
  }
  .lang-hobbies {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-left: 60px;
    font-size: 30px;
    line-height: 1.5;
  }
  .lang-hobbies p {
    font-size: 30px;
  }
  .Details {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-right: 40px;
    font-size: 50px;
    text-decoration: underline;
  }
  .Add-cont {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
  }
  .Address {
    width: 60%;
    padding-left: 30px;
    line-height: 1.5;
  }
  .Address h1 {
    font-size: 40px;
  }
  .Address p {
    font-size: 25px;
  }
  .contact {
    padding-top: 10px;
    padding-left: 30px;
    line-height: 1.5;
  }
  .contact h1 {
    font-size: 40px;
  }
  .contact p {
    font-size: 25px;
  }
  .icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 50px;
  }
  .icon a {
    color: rgb(255, 255, 255);
  }
  .icon i {
    padding-right: 50px;
  }
}
